<h2>Welcome <%=fname%> <%=lname%></h2>
<h2>from <%=street%>, <%=city%>, <%=state%>, <%=zip%>!</h2>
<h2>Your favorite numbers are <%=fav_num1%>, <%=fav_num2%>, <%=fav_num3%></h2>
<h2>The sum of these numbers is <%=fav_num1.to_i + fav_num2.to_i + fav_num3.to_i%>!</h2>
