<h2><font color ="white">Welcome <%=fname%> <%=lname%><br>
from <%=street%>, <%=city%>, <%=state%>, <%=zip%>!</h2>
<p><font color ="white"; line-height="14px">Your favorite numbers are <%=fav_num1%>, <%=fav_num2%>, <%=fav_num3%><br>
The sum of these numbers is <strong><%=fav_num1.to_i + fav_num2.to_i + fav_num3.to_i%>!</strong></p>
